{% extends 'index.html' %} 

{% block title %}
About Us
{% endblock %}

{% block content %}
<div class="container">
    <h1><b>About Us</b></h1>
    <p>Welcome to [Your Website Name], your one-stop destination for all things tech! We are passionate about bringing you the latest and greatest in electronics, from cutting-edge laptops and smartphones to premium headphones, must-have accessories, and reliable repair parts.</p>
    <p>At [Your Website Name], we understand how important technology is in your daily life. Whether you're a tech enthusiast, a professional on the go, or someone looking for affordable repair solutions, we’ve got you covered. Our mission is to make technology accessible, affordable, and hassle-free for everyone.</p>
</div>
{% endblock %}
